html {
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.embed-container {
  border: 1px solid gray;
  width: 420px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.embed-container > iframe {
  border: none;
  height: 85px;
}

div.clipboard {
  display: flex;
  background-color: lightGray
}

div.clipboard > div.icon {
  width: 20px;
  height: 100%;
  padding: 2px;
  border-right: 1px solid black
}

div.clipboard > div.text {
  margin-left: 5px;
  width: 100%; 
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.clipboard:hover {
  width: 100vw;
}

div.clipboard > div.text::-webkit-scrollbar { 
  display: none;
}

div.main-container {
  height: 100%;
  padding: 10px;
}

div.divider {
  width: 100%; 
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}


div.timer-container {
  max-width: 380px;
  padding: 10px;
  border: 1px solid gray;
  color: black;
}

div.timer-container > div.title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
}

div.timer-container > div.timer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  font-family: 'Share Tech Mono';
  font-size: 30px;
  height: 2rem;
}

div.digit {
  transition: opacity, color 500ms;
  margin: 0 0.5rem;
  width: 30px;
  text-align: center;
}

div.digit:hover {
  opacity: 0.5;
}

div.blink {
  color: white;
}